@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Montserrat:wght@100&display=swap');

$primary: #357edd;
$secondary: #96ccff;
$dark: #111111;
$light: #f4f4f4;
$success: #19A974;
$danger: #ff4136;

$header-font: 'Lato', sans-serif;
$body-font: 'Montserrat', sans-serif;